@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 1.5rem;
  width: 950px;
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  background-color: #dedeff;
  color: rgb(40, 40, 40);
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 3em;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1.5rem;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: auto;
}

img {
  width: 200px;
  border-radius: 0.5rem;
}

.top {
  background-color: #5bc6f0;
  justify-content: space-between;
}

.middle {
  background-color: #d89edc;
  justify-content: space-evenly;
}

.bottom {
  background-color: #b7dd94;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(52, 119, 181);
}

a:hover,
a:active {
  filter: brightness(0.7);
}
